@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,800;1,900&family=Ubuntu:wght@300&display=swap');



/* Colors NO LO ENTIENDO EL :root*/
:root {
  --colorblue: #37517e;
  --colorwhite: #f3f5fa;
  --colorligthblue: #47b2e4;
  --colorgery: #e4e5e64b;
}

.header {
  /* background-color: var(--color-primary); */
  background: rgba(40, 58, 90, 0.9);
  z-index: 999;
  position: fixed;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.373);
  height: 90px;
  width: 100vw;
  /*no termino de entender poque le tengo que aplicar esto
  si el header es un elemento en bloque...;*/
  top: 0
}

.header span {
  color: #f96f59;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.workingImg {
  border-radius: 14px;
}

/**** Section us ****/
.sectionUs {
  color: #fff;
  margin-top: 90px;
  overflow: hidden;
  background: rgba(40, 58, 90, 0.9);
  /* background-color: var(--color-primary); */
  padding: 60px;
}

/**** Services Section ****/
.sectionService {
  /* background-color: var(--color-primary); */
  background-color: var(--colorwhite);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.serviceTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  color: var(--colorblue);
  /* color: #fff; */
}

.serviceUnderline {
  position: relative;
  display: inline-block;
}

.serviceUnderline::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 50%;
  height: 2px;
  /* background-color: var(--color-tertiary); */
  background-color: #37517e;
  transform: translateX(-50%);
}

.cardService {
  background-color: #fff;
  border-radius: 14px;
  overflow: hidden;
  border: 1px solid rgb(9, 9, 9);
  /* filter: hue-rotate(20deg); */
}

/**** Cost Section ****/
.sectionCost {
  /* background-color: var(--color-primary); */
  margin-bottom: 2rem;
}

.costTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  color: var(--colorblue);
  /* color: #fff; */

}

.costTitle h2 {
  position: relative;
  display: inline-block;
  margin-top: 2rem;
}

.costTitle h2::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  width: 50%;
  height: 2px;
  /* background-color: var(--color-tertiary); */
  background-color: var(--colorblue);
  transform: translateX(-50%);
  /* no termino de entender esto*/
}

.sectionCost .subCost {
  /* color: var(--color-tertiary); */
  color: var(--colorblue);
  margin-bottom: 2rem;
}

.sectionCost .developers span {
  font-size: 70px;
  /* color: var(--color-default); */
  /* font-family: 'Raleway', sans-serif; */
  font-weight: bolder;
  margin-bottom: -10px;
}

.sectionCost .developers p {
  margin-bottom: -2px;
  font-size: 25px;
}

.sectionCost .developers h4 {
  /* margin-bottom: 8rem; */
}

@media (min-width: 0px) and (max-width: 991px) {
  .sectionCost .developers h4 {
    margin-bottom: 1rem;
  }
}

/**** Client section ****/

.clientSection {
  /* margin-top: 5rem; */
  /* margin-left: 25px; */
  padding: 5px;
  background-color: var(--colorwhite);
}

.imgClient {
  /* filter: hue-rotate(250deg); */
}

/**** Opinion Section ****/

.opinionSection {
  background-color: #fff;
}

.underlineOpinion {
  position: relative;
  display: inline-block;
}

.underlineOpinion::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 50%;
  height: 2px;
  background-color: var(--colorblue);
  transform: translateX(-50%);
}

.bgOpinon {
  display: flex;
  background-color: #e4e5e64b;
  border-radius: 10px;
  align-items: center;
  padding: 4px;
}

.opinionSection i {
  color: var(--color-secondary);
}

/**** Counter section ****/
.sectionFour {
  background-color: var(--color-tertiary);

}

.stats-counter {
  padding: 40px 0;
}

.stats-item {
  padding: 20px 0;
  border-bottom: 1px solid #e4e4e4;
}

.purecounter {
  min-width: 90px;
  padding-right: 15px;
  color: var(--color-tertiary);
}

.stats-item i {
  font-size: 44px;
  line-height: 0;
  margin-right: 15px;
}

.stats-item span {
  font-size: 40px;
  display: block;
  font-weight: 700;
  color: var(--color-default);
  line-height: 40px;
}

.stats-item p {
  margin: 0;
  font-family: var(--font-primary);
  font-size: 14px;
}

/**** Team section ****/

.sectionTeam {
  background-color: var(--colorblue);
  border-radius: 14px;
  color: #fff;
  /* font-weight: 100; */
}

.underlineTeam {
  position: relative;
  display: inline-block;
}

.underlineTeam::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 50%;
  height: 2px;
  background-color: var(--colorwhite);
  transform: translateX(-50%);
}

.classCeo {
  text-decoration: none;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 48px;
  border-radius: 50px;
  margin: 10px;
  border: 1px solid var(--colorwhite);
  color: #fff;
}

.classCeo:hover {
  background: #47b2e4;
  border: 1px solid #47b2e4;

}

/**** contact section ****/
.sectionContact {
  background-color: #f3f5fa;
}

.btnSend {
  text-decoration: none;
  letter-spacing: 1px;
  display: inline-block;
  padding: 6px 20px;
  border-radius: 6px;
  border: 1px solid var(--colorwhite);
  color: var(--colorwhite);
  background-color: var(--colorblue);
}

.btnSend:hover {
  background-color: #47b2e4;
}


/* footer */
.btnActive {
  text-decoration: none;
  margin-right: 10px;
}

.fa {
  color: var(--colorblue);
}

.fa:hover {
  color: #47b2e4;
}
